<header>
	<nav class="red lighten-1">
		<div class="nav-wrapper">
			<span id="logo" class="brand-logo" ui-sref="home">ConcertTrack</span>
			<img id="logo-img" class="brand-logo" src="./logo.JPG" ui-sref="home">
			<form>
				<div class="input-field search-input-field">
					<input ng-model="searchItem" my-enter="searchArtist(searchItem)" placeholder="Search for an Artist" id="search" type="search" required>
					<label class="label-icon" for="search"><i class=" large material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</form>
		</div>
	</nav>
</header>


<!-- <div class="col s12 m3"> -->
	<div id="artist-card" class="card red lighten-1">

		<span><img class="artist-image" ng-src="{{artistInfo.image[3]['#text']}}" alt=""></span>
		<div class="">
			<h1 class="artist-title" style="color:white" ng-if="artistInfo.name">{{artistInfo.name}}</h1>
			<!-- <h1 class="artist-title" style="color:white" ng-hide="artistInfo.name" ng-cloak>We could not find this artist!</h1> -->
		</div>
		<div style="background-color:#26a69a; color: white" ng-repeat="genre in genres" class="chip">{{genre.name}}</div><br />

		<span style="font-size:16px" class="white-text" ng-bind-html="trustedContent"></span><br /><br /><br />

		<span ng-if="date" style="color:white; font-size: 16px">Next Performance: {{date}}, {{nextDate.venue.name}}, {{nextDate.venue.city}}, {{region}}</span>
	</div>
<!-- </div> -->

<div id="artist-info" class="similar-artist-container" ng-if="similarArtists.length>0">
	<h3>Similar Artists</h3>
	<div ng-repeat="similarArtist in similarArtists" ng-click="searchArtist(similarArtist.name)">
		<div  class="col s12 m7">
			<div class="similar-card card horizontal">
				<div class="card-image">
					<img ng-src="{{similarArtist.image[2]['#text']}}">
				</div>
				<div class="card-stacked">
					<div class="card-content" >
						<h4>{{similarArtist.name}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="fixed-action-btn">
  <a ui-sref="home" class="btn-floating btn-large #26a69a">
	<i class="large material-icons rotate-180">trending_flat</i>
  </a>
</div>
