body{
	margin: 0;
	padding: 0;
}

#map {
	margin: 0;
	padding: 0;
	width: 80%;
	height: 91.8%;
	position:absolute;
	bottom:0;
	right:0;
	margin-top: 20px;
}

header{
	justify-content: center;
	height: 8%;
	display: flex;
	align-items: center;
	border-top: 2px solid #259b24;
	z-index: 999;
}

.md-toolbar-tools{
	height: 100%;
	font-size: 35px;
	width:20%;
	position: absolute;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}
nav{
	height: 100%;

}

form{
	margin: 0;
}

.material-icons{
	height: 100%;
	text-align: center;
	align-items: center;
}

#search{
	align-items: center;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

.nav-wrapper{
	height: 100%;
}

#slide-out{
	height: 92%;
	width: 20%;
	position: relative;
	bottom: 0;
}
.input-field{
	height: 100%;
	margin: 0;
	width: 80%;
	float: right;
}
