body{
	margin: 0;
	padding: 0;
	background-color: #ffebee;
}

#map {
	margin: 0;
	padding: 0;
	width: 80%;
	height: 91.8%;
	position:absolute;
	bottom:0;
	right:0;

}

header{
	justify-content: center;
	height: 8%;
	display: flex;
	align-items: center;
	border-top: 3px solid black;
	z-index: 999;
	margin-top: 0;
}

.md-toolbar-tools{
	height: 100%;
	font-size: 35px;
	width:20%;
	position: absolute;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}
nav{
	height: 100%;

}

form{
	margin: 0;
}

.material-icons{
	height: 100%;
	text-align: center;
	align-items: center;
}

#search{
	align-items: center;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

.nav-wrapper{
	height: 100%;
}

.filter-nav{
	height:92vh;
	width: 20%;
	position: absolute;
	left:0;
	top: 8%;

}
.input-field{
	height: 100%;
	margin: 0;
	width: 80%;
	float: right;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}

.main-artist{
	margin-left: 5%;
	margin-right: 5%;

	height: 100%;
}
.main-artist h1{
	text-align: center;
}

.artist-image{
	border-radius: 25px;
	margin-left: 5%;
	margin-right: 5%;
	float: right;
}

.info-container{
	display: flex;
	align-items: center;

}
